
article.tweet:hover {
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
article.tweet {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}
article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

article.tweet header div {
  display: flex;
  align-items: center;
  justify-content: space-between 
}

article.tweet > div {
  margin: 10px 0;
  border-bottom:  0.2em solid #50504b;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  color: #888;
  font-size: 12px;
}

.icons i {
  margin-right: 10px;
  cursor: pointer;
  
  
}


.icons i:hover.fa-heart {
  color: #ff0000; 
}

.icons i:hover.fa-comment {
  color: #007bff;
}

.icons i:hover.fa-share {
  color: #28a745; 
}




@media only screen and (min-width: 1015px){
  
  article.tweet{
    width: 70%;
    float: right;

  }


}